body{
    line-height: 1;
    font-family: $font;
    color: $gray;
    font-weight: 400;
}
button{
    cursor: pointer;
    outline: none;
    border: none;
}
span{
    font-weight: 500;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.button{
    display: inline-block;
    border-radius: 8px;
    font-family: $font;
    line-height: calc(16 / 16);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    color: $white;
    &__primary {
        font-weight: 500;
        padding: 12px 18px;
        background-color: $green;
        color: $white;
    }
    &__outline {
     background-color: $green;
     color: $white;
     font-weight: 500;
     padding: 16px 22px;
     border: 1px solid;  
    }
    &__rounded { 
        border-radius: 10px;
        background-color: $green;
        padding: 17px 65px;
        color: white;
    }
}