#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  z-index: 4;
  display: none;
}

#overlay.show {
  display: initial;
}
@media (hover: hover) {
  .menu-link {
    position: relative;
    transition: all 0.2s linear;
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      right: auto;
      left: 0;
      width: 0;
      height: 3px;
      background-color: $green;
      transition: all 0.2s linear;
      transition: all 0.2s linear;
    }
    &:hover {
      color: $green;
      &:after {
        width: 100%;
        right: 0;
        left: auto;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .menu-item--auth {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .header-auth {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: $black;
    z-index: 5;
    transition: $smooth;
    flex-direction: column;
    align-items: stretch;
    gap: 10px 0;
    transform: translateX(-100%);
    opacity: 0;
  }
  .menu.menu-open {
    transform: translateX(0);
    opacity: 1;
    transition: $smooth;
  }
  .menu-item {
    color: $white;
    font-weight: 300;
    transition: $smooth;
    margin: 45px;
    margin-left: 50px;
  }
  .menu-item--auth {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 35px;
    margin-right: auto;
  }
  .header-login {
    color: $white;
  }
  .header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: var(--smooth);
    z-index: 6;
  }

  .header-icon {
    width: 45px;
    height: 6px;
    background-color: $black;
    border-radius: 5px;
    transition: $smooth;
    position: relative;
  }

  .header-icon:before,
  .header-icon:after {
    content: "";
    position: absolute;
    width: 45px;
    height: 6px;
    background-color: $black;
    border-radius: 5px;
    transition: $smooth;
  }
  .header-icon:before {
    transform: translateY(-12px);
  }

  .header-icon:after {
    transform: translateY(12px);
  }
  /* button animation */
  .open .header-icon {
    transform: translateX(-50px);
    background: transparent;
  }

  .open .header-icon:before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .open .header-icon:after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
}
